# exclude everything
*

# include what we need
!LICENSE
!package.json
!package-lock.json
!src
!public
!index.html
!tsconfig.json
!tsconfig.lint.json
!.eslintrc.yml
!.stylelintrc.yml
!vite.config.ts
!docker-nginx-template.conf
